/*  Reset and base styles  */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin: 0px;
  border: none;
}
a {
  color: #768298;
  text-decoration: none;
}

/*Page style*/
.wrapper {
  min-width: 375px;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  max-width: 1240px;
}

/* Header block */
.head-block {
  box-shadow: 0px 3px 10px 0px #0000000d;
  margin-bottom: 79px;
}
.logo {
  cursor: pointer;
}
.logo__mobile {
  display: none;
}
.header-nav {
  margin: 0 auto;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.search {
  display: block;
  width: 100%;
  padding: 0 60px;
}
.search__submit {
  display: block;
  width: 100%;
  padding: 15px 15px 15px 40px;
  font-size: 14px;
  font-weight: 400;
}
input {
  color: #bbc4d6;
  border: 1px solid #ebebf1;
  border-radius: 5px;
  width: 100%;
  outline: none;
  padding: 9px 4px 9px 40px;
  background: transparent url(/image/search.svg) no-repeat 12px center;
}
.login {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 80px;
  border-left: 1px solid #ebebf1;
  padding-left: 21px;
}
.login__text {
  padding-right: 10px;
  font-size: 14px;
  font-weight: 400;
}

/*Content block*/
.content__title {
  margin-bottom: 47px;
  font-size: 36px;
  font-weight: 500;
  line-height: 57px;
  text-transform: uppercase;
}
.content__items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
  justify-content: space-between;
}
.items__icon {
  width: 287.5px;
  height: 120px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ebebf1;
}

/* @media queries */
@media (max-width: 768px) {
  .header-nav {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 798px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  .search {
    padding: 0 50px;
  }
  .content-block {
    padding: 0 20px;
  }
  .content__items {
    gap: 20px;
  }
}
@media ((min-width: 325px) and (max-width: 767px)) {
  .head-block {
    border-bottom: none;
    margin-bottom: 70px;
    display: block;
  }
  .header-nav {
    max-width: 767px;
    height: 105px;
    display: block;
    box-shadow: 0px 3px 10px 0px #0000000d;
  }
  .logo {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
  }
  .logo__mobile {
    display: flex;
    cursor: pointer;
  }
  .search {
    padding: 0;
  }
  .search__submit {
    padding: 8px 8px 8px 25px;
  }
  input {
    color: #bbc4d6;
    border: none;
    outline: none;
    padding: 9px 4px 9px 40px;
    background: transparent url(/image/search.svg) no-repeat 1px center;
  }
  .login {
    display: none;
  }
  .content-block {
    padding: 0 20px;
  }
  .content__title {
    margin-bottom: 30px;
    font-size: 24px;
  }
  .content__items {
    gap: 20px;
  }
}
